


html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}
.skeleton {

    &:empty::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    box-shadow: 0 10px 45px rgba(0,0,0, .1);
    background-image: linear-gradient( 90deg, rgba(lightgrey, 0) 0, rgba(lightgrey, .8) 50%, rgba(lightgrey, 0) 100% ),  var(--title-skeleton),  var(--desc-line-skeleton),  var(--desc-line-skeleton), var(--avatar-skeleton),  var(--footer-skeleton), var(--card-skeleton) ;
    background-size: var(--blur-size), var(--title-width) var(--title-height), var(--desc-line-1-width) var(--desc-line-height), var(--desc-line-2-width) var(--desc-line-height), var(--avatar-size) var(--avatar-size), 100% var(--footer-height), 100% 100%;
    background-position: -150% 0,  var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position),  var(--avatar-position), var(--footer-position),  0 0 ;
    background-repeat: no-repeat;
    animation: loading 1.5s infinite;
                  }

}

@keyframes loading {
    to {
        background-position: 350% 0, var(--title-position), var(--desc-line-1-position), var(--desc-line-2-position), var(--avatar-position), var(--footer-position), 0 0;
    }
}

.custom-shadow {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.customnav {
    background-color: rgba(4, 3, 15, 0.8);  /*Slightly transparent for glass effect */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    padding: 8px 20px; /* Reduced padding */
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease; /* Smooth transition */
}

.navbar-brand {
    font-size: 1.5rem; /* Reduced font size */
    font-weight: bold;
    display: flex;
    align-items: center;
    color: #ffcc00; /* Highlight color */
    margin-right: auto; /* Align left */
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

    .navbar-brand .logo {
        height: 40px; /* Smaller logo */
        margin-right: 8px; /* Adjust spacing */
    }

.navbar-nav {
    display: flex;
    align-items: center;
    margin-left: auto; /* Align right */
}

    .navbar-nav .nav-link {
        color: #ffffff; /* White text color */
        font-size: 1.2rem; /* Reduced font size */
        font-weight: 500; /* Medium weight */
        margin: 0 8px; /* Reduced margin */
        transition: color 0.3s ease-in-out;
    }

        .navbar-nav .nav-link:hover {
            color: #ffcc00;  Highlight color 
        }

.customham {
    border: none;
    color: #ffffff; /* White icon color */
    font-size: 1.2rem; /* Adjusted size */
    display: none; /* Initially hidden */
}

.navbar-dark .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28%255,255,255,0.5%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

@media (max-width: 768px) {
    .navbar-nav {
        display: none; /* Hide links on small screens */
    }

    .customham {
        display: block; /* Show hamburger */
    }

    .navbar-collapse.show .navbar-nav {
        display: flex; /* Show links */
        flex-direction: column; /* Stack links */
        align-items: center;
        padding: 10px;
    }
}




#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #04030f;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: top 1s ease-out;
    overflow: hidden; /* Ensures floating spoons don't appear outside the loader */
}

#loader-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.floating-spoon {
    position: absolute;
    width: 50px; /* Adjust size as needed */
    height: 50px;
    background-image: url('/css/images/fork.png'); /* Update the path if necessary */
    background-size: cover;
    animation: float 10s infinite linear, drift 5s infinite linear alternate, rotate 10s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes drift {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(30px);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loader-text {
    font-size: 100px; /* Larger font size for desktop */
    font-weight: bold;
    color: #FFE5B4;
    opacity: 0;
    transition: opacity 0.5s;
    text-align: center;
    width: 100%;
}



body {
    /*margin-bottom: 60px;*/
    font-size: 16px;
    color: #ffffff;
    text-rendering: optimizeLegibility;
    font-family: "Quicksand", sans-serif !important;
}




/* This pen */


.dark {
    background-color: #04030f;
    border-radius: 5px
}

a {
    text-decoration: none !important;
    color: red;
} 
a:hover {
    text-decoration: none !important;
    transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

/* Cards */
.postcard {
    flex-wrap: wrap;
    display: flex;
    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    &.dark

{
    background-color: #18151f;
}

&.light {
    background-color: #e1e5ea;
}

.t-dark {
    color: #18151f;
}

a {
    color: inherit;
}

h1, .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

.small {
    font-size: 80%;
}

.postcard__title {
    font-size: 1.75rem;
}

.postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.postcard__img_link {
    display: contents;
}

.postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
}

.postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
}

.postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
}

.postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;
    .tag__item
        {
            display: inline-block;
            background: rgba(83, 83, 83, 0.4);
            border-radius: 3px;
            padding: 2.5px 10px;
            margin: 0 5px 5px 0;
            cursor: default;
            user-select: none;
            transition: background-color 0.3s;
    &:hover
{
    background: rgba(83, 83, 83, 0.8);
}
    }
}

&:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
}

&:hover .postcard__bar {
    width: 100px;
}

}

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;
        .postcard__title

{
    font-size: 2rem;
}

.postcard__tagbox {
    justify-content: start;
}

.postcard__img {
    max-width: 300px;
    max-height: 100%;
    transition: transform 0.3s ease;
}

.postcard__text {
    padding: 3rem;
    width: 100%;
}

.media.postcard__text:before {
    content: "";
    position: absolute;
    display: block;
    background: #18151f;
    top: -20%;
    height: 130%;
    width: 55px;
}

&:hover .postcard__img {
    transform: scale(1.1);
}

&:nth-child(2n+1) {
    flex-direction: row;
}

&:nth-child(2n+0) {
    flex-direction: row-reverse;
}

&:nth-child(2n+1) .postcard__text::before {
    left: -12px !important;
    transform: rotate(4deg);
}

&:nth-child(2n+0) .postcard__text::before {
    right: -12px !important;
    transform: rotate(-4deg);
}

}
}

@media screen and (min-width: 1024px) {
    .postcard__text {
        padding: 2rem 3.5rem;
    }

        .postcard__text:before {
            content: "";
            position: absolute;
            display: block;
            top: -20%;
            height: 130%;
            width: 55px;
        }

    .postcard.dark {
        .postcard__text:before

{
    background: #18151f;
}

}

.postcard.light {
    .postcard__text:before

{
    background: #e1e5ea;
}

}
}

/* COLORS */
.postcard .postcard__tagbox .green.play:hover {
    background: #79dd09 !important;
    color: black;
}

.green .postcard__title:hover {
    color: #79dd09 !important;
}

.green .postcard__bar {
    background-color: #79dd09 !important;
}

.green::before {
    background-image: linear-gradient( -30deg, rgba(121, 221, 9, 0.1) !important, transparent 50% );
}

.green:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(121, 221, 9, 0.1) !important, transparent 50%);
}

.postcard .postcard__tagbox .blue.play:hover {
    background: #0076bd !important;
}

.blue .postcard__title:hover {
    color: #0076bd !important;
}

.blue .postcard__bar {
    background-color: #0076bd !important;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1) !important, transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1) !important, transparent 50%);
}

.postcard .postcard__tagbox .red.play:hover {
    background: #bd150b !important;
}

.red .postcard__title:hover {
    color: #bd150b !important;
}

.red .postcard__bar {
    background-color: #bd150b !important;
}

.red::before {
    background-image: linear-gradient(-30deg, rgba(189, 21, 11, 0.1) !v, transparent 50%);
}

.red:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(189, 21, 11, 0.1) !important, transparent 50%);
}

.postcard .postcard__tagbox .yellow.play:hover {
    background: #bdbb49 !important;
    color: black;
}

.yellow .postcard__title:hover {
    color: #bdbb49 !important;
}

.yellow .postcard__bar {
    background-color: #bdbb49 !important;
}

.yellow::before {
    background-image: linear-gradient( -30deg, rgba(189, 187, 73, 0.1) !important, transparent 50% );
}

.yellow:nth-child(2n)::before {
    background-image: linear-gradient( 30deg, rgba(189, 187, 73, 0.1) !important, transparent 50% );
}

@media screen and (min-width: 769px) {
    .green::before {
        background-image: linear-gradient( -80deg, rgba(121, 221, 9, 0.1) !important, transparent 50% );
    }

    .green:nth-child(2n)::before {
        background-image: linear-gradient( 80deg, rgba(121, 221, 9, 0.1) !important, transparent 50% );
    }

    .blue::before {
        background-image: linear-gradient( -80deg, rgba(0, 118, 189, 0.1) !important, transparent 50% );
    }

    .blue:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(0, 118, 189, 0.1) !important, transparent 50%);
    }

    .red::before {
        background-image: linear-gradient(-80deg, rgba(189, 21, 11, 0.1) !important, transparent 50%);
    }

    .red:nth-child(2n)::before {
        background-image: linear-gradient(80deg, rgba(189, 21, 11, 0.1) !important, transparent 50%);
    }

    .yellow::before {
        background-image: linear-gradient( -80deg, rgba(189, 187, 73, 0.1) !important, transparent 50% );
    }

    .yellow:nth-child(2n)::before {
        background-image: linear-gradient( 80deg, rgba(189, 187, 73, 0.1) !important, transparent 50% );
    }
}



.full {
    color: white !important;
    border-radius: 10px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(60,66,66,1) 0%, rgba(107,111,111,1) 100%, rgba(255,255,255,1) 100%);
    -webkit-box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
    -moz-box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
    box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
}




.copyright{
    padding-left: 20% !important;
}

.color {
    text-decoration: none !important;
    color: lightseagreen !important;
}

.links {
    text-decoration: none;
    color: white;
}


ul {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}



body {
    .testimonial

{
    padding: 100px 0;
    .row

{
    .tabs

{
    all: unset;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    li

{
    all: unset;
    display: block;
    position: relative;
    &.active

{
    &::before

{
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: #71b85f;
    border-radius: 50%;
}

}

&.active {
    &::after

{
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    background-color: #71b85f;
    border-radius: 50%;
}

}

&:nth-child(1) {
    align-self: flex-end;
    &::before

{
    left: 64%;
    bottom: -50px;
}

&::after {
    left: 97%;
    bottom: -81px;
}

figure {
    img

{
    margin-left: auto;
}

}
}

&:nth-child(2) {
    align-self: flex-start;
    &::before

{
    right: -65px;
    top: 50%;
}

&::after {
    bottom: 101px;
    border-radius: 50%;
    right: -120px;
}

figure {
    img

{
    margin-right: auto;
    max-width: 300px;
    width: 100%;
    margin-top: -50px;
}

}
}

&:nth-child(3) {
    align-self: flex-end;
    &::before

{
    right: -10px;
    top: -66%;
}

&::after {
    top: -130px;
    border-radius: 50%;
    right: -46px;
}

figure {
    img

{
    margin-left: auto;
    margin-top: -50px;
}

}

&:focus {
    border: 10px solid red;
}

}

figure {
    position: relative;
    img

{
    display: block;
}

&::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 4px solid #dff9d9;
    border-radius: 50%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

&:hover {
    &::after

{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

}
}
}

&.carousel-indicators {
    li .active

{
    figure

{
    &::after

{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

}
}
}
}

.carousel {
    > h3

{
    font-size: 20px;
    line-height: 1.45;
    color: rgba(0,0,0,.5);
    font-weight: 600;
    margin-bottom: 0;
}

h1 {
    font-size: 40px;
    line-height: 1.225;
    margin-top: 23px;
    font-weight: 700;
    margin-bottom: 0;
}

.carousel-indicators {
    all: unset;
    padding-top: 43px;
    display: flex;
    list-style: none;
    li

{
    background: black;
    cursor:pointer;
    background-clip: padding-box;
    height: 2px;
}

}

.carousel-inner {
    .carousel-item

{
    .quote-wrapper

{
    margin-top: 42px;
    p

{
    font-size: 18px;
    line-height: 1.72222;
    font-weight: 500;
    color: rgba(0,0,0,.7);
    font-family: "Bad Script", cursive;
    font-weight: 400;
    font-style: normal;
}

h3 {
    color: #000;
    font-weight: 700;
    margin-top: 37px;
    font-size: 20px;
    line-height: 1.45;
    text-transform: uppercase;
}

}
}
}
}
}
}
}
full
@media only screen and (max-width: 1200px) {
    body {
        .testimonial

{
    .row

{
    .tabs

{
    margin-right: 25px;
}

}
}
}
}

@media only screen and (max-width: 567px) {
}


.borderwithshadow {
    -webkit-box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
    -moz-box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
    box-shadow: 6px 6px 44px -9px rgba(0,0,0,1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    -webkit-background-clip: text;
    -webkit-box-direction: clone;
    -webkit-text-fill-color: var(--yellow);
    background-color: var(--gray);
    color: var(--yellow);
}

.title {
    margin-bottom: 50px;
    text-transform: uppercase;
}

.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
}

.card {
    font-size: 1em;
    overflow: hidden;
    /*padding: 5px;*/
    border: none !important;
    outline: none !important;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 20px;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    
}

    .card.visible {
        opacity: 1;
        transform: translateY(0);
    }


.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}

.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

lex-direction: column;
}

.btn {
    margin-top: auto;
}



.body-container {
    position: relative;
    z-index: 1;
    flex-wrap: wrap;
    padding: 1em;
    
}

.custom-color {
    background-color: #04030f;
}

























/*Css for new header*/
.headerbody {
    margin: 0;
    padding: 0;
    
}

.hero {
    position: relative;
    background: url(/css/images/fourth.jpg) center/cover no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);  Black color with 60% opacity 
        z-index: 1;  Ensure the overlay is behind the content 
    }

.hero-content {
    text-align: center;
    color: #fff;
    z-index: 2;  Ensure the content is on top of the overlay 
}

.hero-title {
    font-size: 3em;
    margin-bottom: 20px;
    animation: fadeInUp 1s ease-in-out;
}

.hero-subtitle {
    font-size: 1.5em;
    margin-bottom: 30px;
    animation: fadeInUp 1s ease-in-out 0.5s;
}

.hero-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    text-decoration: none !important;
    color: #fff;
    background-color: #3498db;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

    .hero-button:hover {
        background-color: #2980b9;
        color: white !important;
    }

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}




/*User Page Css*/
:root {
    --purple: hsl(240, 80%, 89%);
    --pink: hsl(0, 59%, 94%);
    --light-bg: hsl(204, 37%, 92%);
    --light-gray-bg: hsl(0, 0%, 94%);
    --white: hsl(0, 0%, 100%);
    --dark: hsl(0, 0%, 7%);
    --text-gray: hsl(0, 0%, 30%);
}

body {
    background: var(--light-bg);
    color: var(--dark);
}

h3 {
    font-size: 1.5em;
    font-weight: 700;
}

.description {
    font-size: 1em;
    line-height: 1.7;
    font-weight: 300;
    color: var(--text-gray);
}

.description {
    white-space: wrap;
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrap {
    display: flex;
    justify: space-between;
    align-items: stretch;
    width: 100%;
    gap: 24px;
    padding: 24px;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    position: relative;
    padding: 24px;
    color: #fff;
    border: 1px solid #ccc;
    /*background: #000;*/
}

.box-top {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 12px;
    margin-bottom: 36px;
}

.box-image {
    width: 100%;
    height: 360px;
    object-fit: cover;
    object-position: 50% 20%;
    border-radius: 10px;
}

.title-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-title {
    border-left: 3px solid var(--purple);
    padding-left: 12px;
}

.user-follow-info {
    color: #fff
}

.button {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: auto;
    border: 1px solid white;
    padding: 16px;
    color: #fff;
    background: transparent;
    box-shadow: 0px 0px 0px 1px black inset;
    transition: background 0.4s ease;
    cursor:pointer;
}

    .button:hover {
        background: var(--purple);
        color: white !important;
    }

.fill-one {
    background: var(--light-bg);
}

.fill-two {
    background: var(--pink);
}

/* RESPONSIVE QUERIES */

@media (min-width: 320px) {
    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 460px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 640px) {
    .box {
        flex-basis: calc(50% - 12px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 840px) {
    .title-flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1024px) {
    .box {
        flex-basis: calc(33.3% - 16px);
    }

    .title-flex {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
    }

    .user-follow-info {
        margin-top: 6px;
    }
}

@media (min-width: 1100px) {
    .box {
        flex-basis: calc(25% - 18px);
    }
}


.btnCheckOut{
    margin-bottom: 10%;
}


.search-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.search-box {
    position: relative;
    width: 100%;
    max-width: 600px;
}

.search-input {
    width: 100%;
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid #007bff;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

    .search-input:focus {
        border-color: #0056b3;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
    }

.search-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #007bff;
}





.animated {
    animation-duration: 0.3s;
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}













/*new nav*/


