@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}





@*Above is to be removed*@

<header class="hero headerbody">
	<div class="hero-content">
		<h1 class="hero-title">Savor hassle-free dining: Pre-order table & parking. Enjoy gourmet delights.</h1>
		<p class="hero-subtitle">Effortless dining awaits at [Restaurant Name]. Reserve your table and parking in advance with our convenient pre-order system, ensuring a seamless gourmet experience.</p>
		<a href="/Restaurant" class="hero-button">Explore Restaurant</a>
	</div>
</header>








<section class="dark">
	<div class="container py-4">
		<h1 class="h1 text-center text-light" id="pageHeaderTitle">Our Services</h1>

		<article class="postcard dark blue">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="/css/images/ginsoy.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title blue"><a href="#">Order Food Before Checking In</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>@DateTime.Now
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Pre-order food before check-in for a seamless travel experience, skipping lines and dining dilemmas. Whether a snack or full meal, enjoy favorites hassle-free, maximizing relaxation time on your journey.</div>
				
			</div>
		</article>
		<article class="postcard dark red">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="/css/images/foodbreak.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title red"><a href="#">Reserve Your Table & Parking Space</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Reserve your table and parking ahead for a stress-free dining experience. Pre-booking guarantees your spot, saving time and ensuring convenience upon arrival. Enjoy your meal with peace of mind, knowing your needs are covered.</div>
				
			</div>
		</article>
		<article class="postcard dark green">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="/css/images/KFC.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title green"><a href="#">Secure Payment Through Card</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Secure card payments offer convenience and peace of mind. With advanced encryption, your transactions are swift and safe, freeing you to focus on your purchases worry-free.</div>
				
			</div>
		</article>
		<article class="postcard dark yellow">
			<a class="postcard__img_link" href="#">
				<img class="postcard__img" src="/css/images/AllYouCanEat.png" alt="Image Title" />
			</a>
			<div class="postcard__text">
				<h1 class="postcard__title yellow"><a href="#">Signal The Kitchen</a></h1>
				<div class="postcard__subtitle small">
					<time datetime="2020-05-25 12:00:00">
						<i class="fas fa-calendar-alt mr-2"></i>Mon, May 25th 2020
					</time>
				</div>
				<div class="postcard__bar"></div>
				<div class="postcard__preview-txt">Notify us upon your imminent arrival, ensuring your order is promptly prepared, allowing you to savor your meal without any delay for a table.</div>
				
			</div>
		</article>
	</div>
</section>



<section class="testimonial text-light">
	<div class="container text-light">
		<div class="row">
			<div class="col-lg-6 d-none d-lg-block">
				<ol class="carousel-indicators tabs">
					<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" data-interval="500">
						<figure>
							<img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-01-179x179.png" class="img-fluid" alt="">
						</figure>
					</li>
					<li data-target="#carouselExampleIndicators" data-slide-to="1">
						<figure>
							<img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-02-306x306.png" class="img-fluid" alt="">
						</figure>
					</li>
					<li data-target="#carouselExampleIndicators" data-slide-to="2">
						<figure>
							<img src="https://livedemo00.template-help.com/wt_62267_v8/prod-20823-one-service/images/testimonials-03-179x179.png" class="img-fluid" alt="">
						</figure>
					</li>
				</ol>
			</div>
			<div class="col-lg-6 d-flex justify-content-center align-items-center">
				<div id="carouselExampleIndicators" data-interval="false" class="carousel slide" data-ride="carousel">
					<h3 class="text-light">WHAT OUR CLIENTS SAY</h3>
					<h1>TESTIMONIALS</h1>
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="quote-wrapper">
								<p class="text-light">I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
								<h3 class="text-light">peter lee</h3>
							</div>
						</div>
						<div class="carousel-item">
							<div class="quote-wrapper">
								<p class="text-light">I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
								<h3 class="text-light">peter lee</h3>
							</div>
						</div>
						<div class="carousel-item">
							<div class="quote-wrapper">
								<p class="text-light">I have tried a lot of food delivery services but Plate is something out of this world! Their food is really healthy and it tastes great, which is why I recommend this company to all my friends!</p>
								<h3 class="text-light">peter lee</h3>
							</div>
						</div>
					</div>
					<ol class="carousel-indicators indicators text-light">
						<li style="background: white !important;" data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
						<li style="background: white !important;" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
						<li style="background: white !important;" data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					</ol>
				</div>
			</div>
		</div>
	</div>
</section>















<div class="void voidNew" id="void">
	<div class="crop">
		<ul class="ullist" id="card-list" style="--count: 6;">
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
			<li class="lilist"><div class="cardtext"><span class="model-name">Gretel-ACTGAN</span><span>Model for generating highly dimensional, mostly numeric, tabular data</span></div></li>
		</ul>
		<div class="last-circle"></div>
		<div class="second-circle"></div>
	</div>
	<div class="mask"></div>
	<div class="center-circle"></div>
<div>







		